[submodule "bootstrap"]
	path = themes/day/assets/submodules/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "bootstrap-icons"]
	path = themes/day/assets/submodules/bootstrap-icons
	url = https://github.com/twbs/icons
