@import "variables";
@import "fonts/Silkscreen";
@import "variables";
@import "bright-hover-mixin";


$media-small: "screen and (max-width : 768px)";


html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    
    main{
        flex: 1 0 auto;
    }
    footer{
        flex-shrink: 0;
    }
}

.back-button{
    background-color: $gray-900;
    border: 2px solid $secondary;
    padding: 2px;    
}

footer{
    position: relative;
    display: block;
    bottom: 0;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(19, 19, 19);
    
    .extra{
        text-align: center;
        font-family: "Silkscreen";
        color: white;
        details{
            summary{
                cursor: pointer;
                text-decoration: underline;
                &:hover{
                    color: gray;
                }
            }
            table{
                width: 80%;
                margin: 0 10%;
                tbody{
                    tr{
                        border: 2px solid $secondary;
                        margin-bottom: 2px;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: row;
                        td{
                            flex: 1;
                        }
                    }
                    a{
                        color: white;
                    }
                }
            }
        }
    }
    .buttons{
        
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        .left{
            padding-left: 10px;
            border-right: 28px solid transparent;
            border-bottom: 30px solid $secondary;
        }
        .middle{
            display: flex;
            flex-direction: column;
            .license, .lang-button, abbr{
                width: 100%;
                text-align: center;
            }
            .lang-button{
                a{
                    @include bright-hover($purple);
                    background-color: white;
                    padding: 5px;
                    border-radius: 2px;
                    text-decoration: none;
                    font-family: "Silkscreen";
                    color: $purple;
                    
                }
                padding-top: 10px;
                padding-bottom: 10px;
            }
            justify-content: center;
        }
        .right{
            justify-content: end;
            padding-right: 10px;
            border-left: 28px solid transparent;
            border-bottom: 30px solid $secondary;
        }
        .left, .middle, .right{

            align-items: end;
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            height: 100%;

            img{
                @include bright-hover($purple);

            }
            a, img {
                max-width: 100%;
                height: auto;
                @media #{$media-small} {
                    height: auto;
                }
            }
        }
        .left, .right{
            *{
                position: relative;
                bottom: -10px;
            }
        }

        
    }
    

}
