@use 'sass:math';
@import "variables";
@import "bright-hover-mixin";
$webring-default-width: 88px;
$webring-default-height: 31px;
$webring-size-multiplier:  1 !default;



.no-button {
    @include bright-hover($purple);
    width: $webring-default-width * $webring-size-multiplier;
    min-width:$webring-default-width * $webring-size-multiplier;
    height: $webring-default-height * $webring-size-multiplier;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 9px  * $webring-size-multiplier;
    background-color: black;
    color: white;
    border-width: 2px * $webring-size-multiplier;
    border-style: solid;
    border-color: white;
    line-height: 100%;
    div{
        margin: 2px * $webring-size-multiplier;
        display: flex;
        height: 90%;
        width: 90%;
        align-items:center;
        justify-content: center;
        .no-button-logo{
            margin-right: 4px;
            width: 16px  * $webring-size-multiplier;
            height: 16px  * $webring-size-multiplier;
        }
    }

}
.button{
    @include bright-hover($purple);
    width: $webring-default-width * $webring-size-multiplier;
    height: $webring-default-height * $webring-size-multiplier;
    display: inline-block;
    img{
        width: $webring-default-width * $webring-size-multiplier; 
        height: $webring-default-height * $webring-size-multiplier;
    }
}