@import 'fonts/DOS';
@import 'fonts/Righteous';
@import 'animation/scanning.scss';
@import 'animation/blink.scss';
@import 'animation/skew.scss';
@import 'footer.scss';
@import "submodules/csshake/scss/csshake.scss";


$media-small: "screen and (max-width : 768px)";

@keyframes textflicker {
    from {
        text-shadow: 0px 0 0 #ea3636, 0 0 0 #6994fa;
    }
    to {
        text-shadow: 0.5px 0.5px 1px #ea3636, -0.5px -0.5px 1px #6994fa;
    }
}


html{
    --transparent: color-mix(in srgb,var(--secondary, #012),#0000  var(--bg_transparency, 50%));
    background-image: linear-gradient(var(--transparent) , var(--transparent)), var(--background-image, linear-gradient(#000, #000));
    background-repeat: var(--bg_repeat, no-repeat);
    background-size: var(--bg_size, cover);;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
}

hr{
    background-color: var(--main);
    color: var(--main);
}

@mixin button{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.381);
    border-width: 1px 1px 8px 1px;
    background-image: radial-gradient(ellipse at top, rgb(255, 255, 255) 50%, rgb(158, 158, 158));
}
@mixin  button_pressed{
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.381);
    border-width: 1px 1px 1px 1px;
    background-image: radial-gradient(ellipse at top, rgb(218, 218, 218) 50%, rgb(158, 158, 158));
}

@keyframes button_press {
    from {
        @include button;
    }
    to{
        @include button_pressed;
    }
}

@keyframes button_release {
    from {
        @include button_pressed;
    }
    to{
        @include button;
    }
}



main{
    font-family: "DOS";
    margin: 2.5%;
    border-color: var(--main, #78c8ff);
    border-radius: 50px;
    border-width: 20px;
    box-shadow: 10px 10px 0px 0px var(--secondary, #012);
    border-style: solid;
    display: flex;
    color: var(--main, #78c8ff);
    background-color: var(--secondary, #012);
    
    @media #{$media-small} {
        flex-direction: column;
    }
    header{
        padding: 20px;
        h1{
            margin: 0;
        }
    }
    article{
        padding: 20px;
    }
    .screen{
        animation: skew 20s infinite, textflicker 0.1s infinite;
        flex: 5;
        box-shadow: inset 1px 0 10px 0px var(--main, #78c8ff);

    }
    
    .buttons{
        font-family: "Righteous";
        animation: none;
        flex: 1;
        height: calc(100% + 4px);
        position: relative;
        right: -2px;
        background-color: var(--main, #78c8ff);
        display: flex;
        flex-direction: column;
        @media #{$media-small} {
            height: 100%;
            width: calc(100% + 4px);
            left: -2px;
            flex-direction: row-reverse;
            
        }
        .nextprev{
            display: flex;
            flex-direction: column;
            @media #{$media-small} {
                flex-direction: row-reverse;
                flex: 1.5;
            }
        }

        .nextprev div{
            width: 100%;
            padding-top: 20px;
            display: inline-flex;
            @media #{$media-small} {
                padding-top: 0;


            }
            
            a{
                animation: button_release 0.1s;
                @include button;
                @media #{$media-small} {
                    width: 4rem;
                    height: 4rem;
                    font-size: 4rem;
                    line-height: 3rem;
                }
                margin:  -2rem auto;
                position: relative;
                top: -2rem;
                align-self: flex-end;
                justify-self: end;
                text-align: center;
                justify-self: center;
                display: block;
                width: 6rem;
                height: 6rem;
                line-height: 5rem;
                font-size: 6rem;
                text-decoration: none;
                color: rgb(45, 45, 45);
                border-color: rgb(96, 96, 96);
                border-style: solid;
                border-radius: 50%;
                &:hover, &:not(:any-link){
                    animation: button_press 0.1s;
                    @include button_pressed
                }
                &:not(:any-link){
                    color: rgb(215, 215, 215);
                    border-color: rgb(74, 73, 73);
                    background-image: radial-gradient(ellipse at top, rgb(49, 49, 49) 50%, rgb(22, 22, 22));
                }
            }
           height: calc(6rem + 8px);
           margin-top: 10px;
        }
        .brand{

            position: relative;
            top: 10px;
            background-image: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.5) 50%, rgba(158, 158, 158, 0.5));
            font-size: 0.8rem;
            padding: 0.5rem;
            border-radius: 0 20px 20px 0px;
            color: black;
            sup{
                font-size: 1rem;
            }
    
            @media #{$media-small} {
                top: 0px;
                padding: 0.2rem;
                flex: 1;
                h1{
                    font-size: 1rem;
                }
                font-size: 1;
                border-radius: 0 0 20px 20px;
                
            }
        }
    }
    
    
}

article{
    display: flex;
    flex-direction: column;
    img, iframe, video, audio{
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    iframe, video{
        width: 100%;
        height: 100%;
    }
    p{
        white-space: normal;
        word-break: break-word;
        hyphens: auto;
    }
   

    .separator{
        display: flex;
        flex-direction: row;
        @media #{$media-small} {
            flex-direction: column-reverse;
        }
        div{
            display: flex;
            flex-direction: column;
            flex: 2;
        }
        div:not(:first-child){
            border-left: 1px solid var(--main, #78c8ff);
            margin-left: 20px;
            padding-left: 20px;
            @media #{$media-small} {
                border-left: 0px;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
    a{
        text-decoration: underline;
        color: #6994fa;
    }
}
.flickhard{
    @include do-shake('shake-crazy', 40, 40, 20, 100ms, .1, $opacity: true);
    animation: skew 0.1s infinite, textflicker 0.01s infinite;
    font-size: 100px;
    text-align: center
}

.jaba{
    @include do-shake('shake-vertical', 0, 5, 0, 9s);
    position: relative;
    display: block;
    bottom: 0;
    align-self: flex-end;
    flex: 1;
    display: flex;
    align-items: end;
    text-decoration: none;
    font-size: 2rem;
    img{
        width: 2.5rem !important;
        float: right;
    }
    
}