<a 
style="
  {{with .Get "border-color"}}
    border-color: {{.}};
  {{end}}

  {{with .Get "border-style"}}
    border-style: {{.}};
  {{end}}

  {{with .Get "border-width"}}
    border-width: {{.}};
  {{end}}

  {{with .Get "color"}}
    color: {{.}};
  {{end}}

  {{with .Get "background-color"}}
    background-color: {{.}};
  {{end}}

  {{with .Get "font-size"}}
    font-size: {{.}};
  {{end}}"

class="no-button" {{with .Get "href"}} href="{{.}}" {{end}}>
    <div>
        {{with .Get "src"}}
        <img class="no-button-logo" src="{{.}}">
        {{end}}
        {{.Get "text"}}
        {{.InnerDeindent}}
    </div>
</a>