{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}

<div class="list-main" style="display: flex; align-items: stretch;">
	<div>
		<ul class="page-list">
			{{ $pages := .Pages }}
			{{ range .Translations }}
				{{ $pages = $pages | lang.Merge .Pages }}
			{{ end }}
			{{- range (where $pages ".Params.unlisted" "!=" "true") }}
				<li>
					<a href="{{ .RelPermalink }}">
						{{ .Title }}
					</a>
				</li>
			{{- end }}
		</ul>
	</div>
	<div>
		{{ .Content }}
	</div>
</div>



{{- end }}
