<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
	{{ block "head" . }}
	{{ end }}
	


	{{ $sass := resources.Get "style-dori.scss" }}
	{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
	<div class="screen">
		<header>
			<h1 id="tag_{{ .Title }}">
				{{ block "title" . }}
					asd
				{{ end }}
			</h1>
		</header>
		<article>
		{{ block "main" . }}
	
		{{ end }}
		{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
		{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
		</article>
	</div>

    <!-- POR ALGUM MOTIVO O PREV E NEXT ESTÃO INVERTIDOS?? -->
	<div class="buttons">

		<div class="brand">
			<h1>P-TECH<sup>©</sup></h1>
			Personal Digital Assistant 8000
		</div>

		<div class="nextprev">
			<div>
				{{ if .Prev }}
					<a href="{{ .Prev.Permalink }}">»</a>
				{{else}}
					<a>»</a>
				{{ end }}
			</div>
			<div>
				{{ if .Next }}
					<a href="{{ .Next.Permalink }}">«</a>
				{{else}}
					<a>«</a>
				{{ end }}
	
			</div>
		</div>
	</div>
	

</main>
{{ block "footer" . }}
<footer>
	{{ partial "footer.html" (dict "Page" . "Site" .Site) }}
</footer>
{{ end }}
</body>
</html>
