{{ define "title" -}}
	<img src="/dori/Nanotrasen_Logo.png" width="60rem" alt="">
	Relatórios relacionados a pesquisa "{{ .Title | title }}":
{{- end }}

{{ define "head" }}
    <meta property="og:image" content="{{.Params.image_display}}" />
    <meta name="theme-color" content="#FF0000">

    <!-- Include this to make the og:image larger -->
    <meta name="twitter:card" content="summary_large_image">
    {{ if .Params.bg_image }}
        <style>
            :root{
                --background-image: url({{ .Params.bg_image }});
            }
        </style>
    {{ end }}
    {{ if .Params.primary_color }}
        <style>
            :root{
                --main: {{ .Params.primary_color }};
            }
        </style>
    {{ end }}
    {{ if .Params.secondary_color }}
        <style>
            :root{
                --secondary: {{ .Params.secondary_color }};
            }
        </style>
    {{ end }}

     <script>
        function ready(fn) {
            if (document.readyState !== 'loading') {
              fn();
            } else {
              document.addEventListener('DOMContentLoaded', fn);
            }
        }

        ready(()=>{

            const text = `⚠️ ESSE SITE PODE SER SENSÍVEL A PESSOAS COM EPILEPSIA!`;
            try {
                const confirmation = confirm(text);
                if (confirmation === false) {
                    location.href = "/";
                }
            } catch (e) {
            }
        })
        
    </script>

    
{{- end }}

{{ define "main" -}}

<div class="alert" role="alert">
    <div><img src="/dori/16.png" alt=""></div>
    <div>
        <div><strong>Classificação indicativa</strong></div>
        <div>Este conteúdo aborda temas sensíveis, incluindo suicídio, depressão e situações de cativeiro. Pode ser perturbador para algumas pessoas.</div>
        <sub>Se você estiver em sofrimento emocional ou com pensamentos de autoextermínio, procure ajuda imediatamente — fale com alguém de confiança ou ligue para o número de apoio 188.</sub>
    </div>
</div>

{{ $pages := .Pages }}
{{ range .Translations }}
	{{ $pages = $pages | lang.Merge .Pages }}
{{ end }}


{{- range (where $pages ".Params.unlisted" "!=" "true") }}
<li>
	<a href="{{ .RelPermalink }}">{{ .Title }}</a>
    &ndash;
	{{- if .Param "datesinlist" }} <time datetime="{{ .Params.story_date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Params.story_date.Format "02/01/2006 15:04" }}</time>  {{ end -}}
</li>
{{- end }}
</ul>

{{- end }}
